<div class="document-component">

  <form class="document-form" [formGroup]="document">
    <mat-form-field class="document-field-component">
      <input matInput placeholder="photo" formControlName="photo" class="document-photo">
    </mat-form-field>

    <mat-form-field class="document-field-component">
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field class="document-field-component">
      <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Document type" formControlName="typeId">
        <mat-option *ngFor="let type of types">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-list *ngFor="let comment of comments">
      <mat-list-item>
        <app-comment [comment]="comment"></app-comment>
      </mat-list-item>
    </mat-list>

  </form>

</div>
