<div class="document-container">
  <mat-list>
    <mat-list-item class="list-item"  *ngFor="let document of documents">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-form-field>
                <input matInput placeholder="PhotoUrl">
              </mat-form-field>

            </mat-expansion-panel-header>
            <mat-form-field>
              <input matInput placeholder="Comment">
            </mat-form-field>

            <button mat-raised-button (click)="addComment()"> + </button>
          </mat-expansion-panel>
        </mat-accordion>
    </mat-list-item>
  </mat-list>
</div>
